@import url("https://fonts.googleapis.com/css2?family=K2D:wght@400&display=swap");
@keyframes animate {
  0% {
    background-position: bottom left;
  }
  50% {
    background-position: top right;
  }
  100% {
    background-position: bottom left;
  }
}
* {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  outline: none;
  font-family: "K2D", sans-serif;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2em;
  height: 2em;
  color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.25), inset 0px -2px 4px -4px #000000;
  border-radius: 5px;
}
button #reciprocal {
  letter-spacing: -0.1em;
}

input {
  appearance: none;
  outline: none;
  font-family: "K2D", sans-serif;
  background: transparent;
  border: none;
  display: flex;
  color: #FFF;
}

:root {
  display: grid;
  height: 100%;
  place-content: center;
  background-image: linear-gradient(120deg,#fccb90 0,#d57eeb 100%);
}

.background {
  background-image: linear-gradient(90deg,#706060 0,rgb(0 0 0 / 60%) 58%);
  background-size: 400% 400%;
  animation-name: animate;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-play-state: running;
}

p {
  color: white;
  font-family: "K2D", sans-serif;
  overflow-x: hidden;
  float: right;
}
p#sym {
  font-size: 15px;
}
p#space {
  font-size: 20px;
}
p#floor {
  font-size: 35px;
}

.glass {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
}

.container {
  display: grid;
  align-items: center;
  gap: 1.5em;
  padding: 2em 1em 1em;
  border-radius: 20px;
  width: min-content;
}

.display {
  color: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 5px;
  order: 0;
  justify-content: right;
  padding: 0.5em 0.5em;
}
.display div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  gap: 0.5em;
  justify-self: center;
}